{% extends "list_base_contrato.html" %}
{% block c_menu %} menu-open {% endblock c_menu %}
{% block href %}href="{% url 'addContratoU' depa_id %}"{% endblock href %}

{% block header %}
<tr>
    <td>No. Contrato</td>
    <td>Proveedor</td>
    <td>Tipo de Contrato</td>
    <td>Fecha de Firma</td>
    <td>Fecha de Vencimiento</td>
    <td>Opciones</td>
</tr>
{% endblock header %}

{% block tbody %}
{% for i in object_list %}
<tr>
    <td>{{ i.no_contrato }}</td>
    <td>{{ i.proveedor }}</td>
    <td>{{ i.t_contrato }}</td>
    <td>{{ i.fecha_ini }}</td>
    <td>{{ i.fecha_fin }}</td>
    <td>
        <a type="button" class="btn btn-warning btn-xs btn-flat" href="{% url 'updateContratoU' i.id i.departamento.id %}"><i class="fas fa-edit"></i></a>
        &nbsp;
        <a type="button" class="btn btn-danger btn-xs btn-flat" href="{% url 'deleteContratoU' i.id i.departamento.id %}"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}
