{% extends "base.html" %}
{% load static %}
{% block title%}Sistema Jur&iacute;dico{% endblock title %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dataTables.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchPanes.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="content-wrapper">
    <br>
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ c_contratos }}</h3>
  
                  <p>Cantidad de Contratos</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
            </div>
            
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ ca_contratos }}</h3>
  
                  <p>Contratos Activos</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ cvm_contratos|length }}</h3>
  
                  <p>Vencen este Mes</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ cv_contratos|length }}</h3>
                  <p>Vencidos</p>
                </div>
                </div>
            </div>
            <!-- ./col -->
          </div>
        </div>
      </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-warning">
                          <div class="container-fluid">
                            <div class="row mb-2">
                              <div class="col-sm-12">
                                <h3>Listado de Contratos que vencen en el mes</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>No. Contrato</td>
                                    <td>Proveedor</td>
                                    <td>Tipo de Contrato</td>
                                    <td>Fecha de Vencimiento</td>
                                    <td>Opciones</td>
                                </tr>
                            </thead>
                            <tbody>
                              {% for i in cvm_contratos %}
                                <tr>
                                    <td>{{ i.no_contrato }}</td>
                                    <td>{{ i.proveedor }}</td>
                                    <td>{{ i.t_contrato }}</td>
                                    <td>{{ i.fecha_fin }}</td>
                                    <td>
                                        <a type="button" class="btn btn-warning btn-xs btn-flat" href="{% url 'updateContratoU' i.id depa_id %}"><i class="fas fa-edit"></i></a>
                                        &nbsp;
                                        <a type="button" class="btn btn-danger btn-xs btn-flat" href="{% url 'deleteContratoU' i.id depa_id %}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-danger">
                          <div class="container-fluid">
                            <div class="row mb-2">
                              <div class="col-sm-12">
                                <h3>Listado de Contratos vencidos</h3>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                          <table id="example3" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <td>No. Contrato</td>
                                    <td>Proveedor</td>
                                    <td>Tipo de Contrato</td>
                                    <td>Fecha de Vencimiento</td>
                                    <td>Opciones</td>
                                </tr>
                            </thead>
                            <tbody>
                              {% for i in cv_contratos %}
                                <tr>
                                    <td>{{ i.no_contrato }}</td>
                                    <td>{{ i.proveedor }}</td>
                                    <td>{{ i.t_contrato }}</td>
                                    <td>{{ i.fecha_fin }}</td>
                                    <td>
                                        <a type="button" class="btn btn-warning btn-xs btn-flat" href="{% url 'updateContratoU' i.id i.departamento.id %}"><i class="fas fa-edit"></i></a>
                                        &nbsp;
                                        <a type="button" class="btn btn-danger btn-xs btn-flat" href="{% url 'deleteContratoU' i.id i.departamento.id %}"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- /.card-body -->
                      </div>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- PIE CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Gráfico de Pastel</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col (LEFT) -->
          <div class="col-md-6">
            <!-- BAR CHART -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Gráfico de Barras</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="chart">
                  <canvas id="barChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
      </div>
    </section>
<div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.searchPanes.js' %}"></script>
<script src="{% static 'js/searchPanes.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.select.js' %}"></script>
<script src="{% static 'js/select.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.js' %}"></script>
<script src="{% static 'js/buttons.dataTables.js' %}"></script>
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<script>
    new DataTable('#example2', {
      layout: {
          top1: {
              searchPanes: {
                  layout: 'columns-5',
                  initCollapsed: true,
                  i18n: {
                    title: {
                      _: ' Filtros seleccionados -%d',
                      0: 'Sin filtros seleccionados',
                      1: '1 filtro seleccionado',
                      count: '{total} encontrados',
                      countfiltered: '{shown} ({total})',
                      
                    },
                    clearMessage: 'Borrar filtros',
                    collapseMessage: 'Ocultar filtros',
                    showMessage: 'Mostrar filtros'
                }
              },
              
          },
          
      },
      columnDefs: [
          {
              searchPanes: {
                  show: true,
              },
              targets: [0, 1, 2, 3]
          }
      ],
      language: {
        url: "{% static 'spanish.json' %}"
    },
    lengthChange: false,
    info: false,
    searching:false,
    pageLength:5
  });
  new DataTable('#example3', {
    layout: {
        top1: {
            searchPanes: {
                layout: 'columns-5',
                initCollapsed: true,
                i18n: {
                  title: {
                    _: ' Filtros seleccionados -%d',
                    0: 'Sin filtros seleccionados',
                    1: '1 filtro seleccionado',
                    count: '{total} encontrados',
                    countfiltered: '{shown} ({total})',
                    
                  },
                  clearMessage: 'Borrar filtros',
                  collapseMessage: 'Ocultar filtros',
                  showMessage: 'Mostrar filtros'
              }
            },
            
        },
        
    },
    columnDefs: [
        {
            searchPanes: {
                show: true,
            },
            targets: [0, 1, 2, 3]
        }
    ],
    language: {
      url: "{% static 'spanish.json' %}"
  },
  lengthChange: false,
  info: false,
  searching:false,
  pageLength:5
});
    //-------------
    //- PIE CHART -
    //-------------
    // Get context with jQuery - using jQuery's .get() method.
    var donutData        = {
      labels: [
          'Activos',
          'Vencen en este mes',
          'Vencidos',
      ],
      datasets: [
        {
          data: [{{ ca_contratos }},{{ cvm_contratos|length }},{{ cv_contratos|length }}],
          backgroundColor : ['#00a65a', '#f39c12', '#f56954'],
        }
      ]
    }
    var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
    var pieData        = donutData;
    var pieOptions     = {
      maintainAspectRatio : false,
      responsive : true,
    }
    //Create pie or douhnut chart
    // You can switch between pie and douhnut using the method below.
    new Chart(pieChartCanvas, {
      type: 'pie',
      data: pieData,
      options: pieOptions
    });
    async function fetchData() {
      try {
          const response = await fetch('{% url "bar_data" %}');
          const data = await response.json();
          var labels = [];
          var activos = [];
          var por_vencer =[];
          var vencidos =[];
          $.each(data,function(key, value){
            labels.push(key);
            activos.push(value[0]);
            por_vencer.push(value[1]);
            vencidos.push(value[2]);
          });
          var barChartCanvas = $('#barChart').get(0).getContext('2d')
          
          var barChartData = {
            labels: labels,
            datasets: [
                {
                    label: 'Activos',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: activos
                },
                {
                    label: 'Por vencer',
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    borderColor: 'rgba(255, 159, 64, 1)',
                    borderWidth: 1,
                    data: por_vencer
                },
                {
                    label: 'Vencidos',
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                    data: vencidos
                }
            ]
        };
        
        var barChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        };
        
        var myBarChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions
        });

          
      } catch (error) {
          console.error('Error al obtener los datos:', error);
      }
  }

  // Llama a fetchData cuando la página se carga
  document.addEventListener('DOMContentLoaded', fetchData);
    </script>

{% endblock scripts %}