{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/dataTables.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchPanes.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.css' %}">
{% endblock stylesheet %}

{% block content %}

<div class="content-wrapper">
    <br>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <div class="container-fluid">
                    <div class="row mb-2">
                      <div class="col-sm-10">
                        <h3>{{ title }}</h1>
                      </div>
                      <div class="col-sm-2">
                          <a {% block href %} {% endblock href %} class="btn btn-primary float-sm-right">A&ntilde;adir</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        {% block header %}

                        {% endblock header %}
                    </thead>
                    <tbody>
                        {% block tbody %}

                        {% endblock tbody %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->

</div>

{% endblock content %}

{% block scripts %}
<!-- jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'js/dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.searchPanes.js' %}"></script>
<script src="{% static 'js/searchPanes.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.select.js' %}"></script>
<script src="{% static 'js/select.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.js' %}"></script>
<script src="{% static 'js/buttons.dataTables.js' %}"></script>
<script>
  function getLastDayOfMonth(year, month) {
    return new Date(year, month + 1, 0);
}
  new DataTable('#example2', {
    layout: {
        top1: {
            searchPanes: {
                layout: 'columns-5',
                initCollapsed: true,
                i18n: {
                  title: {
                    _: ' Filtros seleccionados -%d',
                    0: 'Sin filtros seleccionados',
                    1: '1 filtro seleccionado',
                    count: '{total} encontrados',
                    countfiltered: '{shown} ({total})',
                    
                  },
                  clearMessage: 'Borrar filtros',
                  collapseMessage: 'Ocultar filtros',
                  showMessage: 'Mostrar filtros'
              }
            },
            
        },
        
    },
    columnDefs: [
        {
            searchPanes: {
                show: true,
            },
            targets: [0, 1, 2, 3, 4]
        }
    ],
    language: {
      url: "{% static 'spanish.json' %}"
  },
  lengthChange: false,
  searching:true,
  rowCallback: function(row, data, index) {
            var fechaVencimiento = parseFecha(data[4]); // Obtén la fecha de vencimiento desde la columna correspondiente (índice 4)
            var hoy = new Date(); // Obtiene la fecha actual
            const lastDayThisMonth = getLastDayOfMonth(hoy.getFullYear(), hoy.getMonth());
            
            if (hoy >= fechaVencimiento) {
              $(row).addClass('bg-danger color-palete'); // Cambia el color de fondo a rojo
            }
            
            if((hoy > fechaVencimiento) && (hoy <=lastDayThisMonth)) {
              $(row).addClass('bg-warning color-palete'); // Cambia el color de fondo a rojo
            }
            
        }
});
  </script>
{% endblock scripts %}