{% extends "base.html" %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/searchPanes.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/select.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.css' %}">
{% endblock stylesheet %}

{% block content %}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>{{ title }}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a {% block href %} {% endblock href %} class="btn btn-primary">A&ntilde;adir</a></li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        {% block header %}

                        {% endblock header %}
                    </thead>
                    <tbody>
                        {% block tbody %}

                        {% endblock tbody %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->

</div>

{% endblock content %}

{% block scripts %}
<!-- jQuery -->
<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'js/dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.searchPanes.js' %}"></script>
<script src="{% static 'js/searchPanes.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.select.js' %}"></script>
<script src="{% static 'js/select.dataTables.js' %}"></script>
<script src="{% static 'js/dataTables.buttons.js' %}"></script>
<script src="{% static 'js/buttons.dataTables.js' %}"></script>
<script>
    $(function () {
      
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "select": true,
        'serverside': false,
        language: {
          info: 'Mostrando página _PAGE_ de _PAGES_',
          search: 'Buscar',
          emptyTable: 'No hay datos disponibles en la tabla',
          paginate: {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        },
        layout: {
          top1: 'searchPanes',
      }
      });
      
    });
  </script>
{% endblock scripts %}