{% extends "list_base.html" %}

{% block href %}href="{% url 'add_depart' %}"{% endblock href %}

{% block header %}
<tr>
    <td>Departamentos</td>
    <td>Opciones</td>
</tr>
{% endblock header %}

{% block tbody %}
{% for i in object_list %}
<tr>
    <td>{{ i.departamento }}</td>
    <td>
        <a type="button" class="btn btn-warning btn-xs btn-flat" href="{% url 'edit_depart' i.id %}"><i class="fas fa-edit"></i></a>
        &nbsp;
        <a type="button" class="btn btn-danger btn-xs btn-flat" href="{% url 'delete_depart' i.id %}"><i class="fas fa-trash"></i></a>
    </td>
</tr>
{% endfor %}
{% endblock tbody %}